 <%
 
 <main class="main" id="main">
    <section class="programs">
      <div class="container">
        <div class="row row-cols-1 row-col-md-3 row-col-lg-4 g-4" id="programRow">
          <div class="col">
            <div class="card" id="programCard">
              <img src="https://placeholder.co/50x50" alt="placeholder img" class="img-fluid card-img-top" id="posterURL"/>
              <div class="card-body">
                <h2 class="movie-title"><%= title %></h2>
                <p class="car-text"><%= yr_released %></p>
              </div>
              <!--  -->
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
 